/*colores del sitio*/

$color-primario: #03484c;
$color-secundario: #f7f8fc;
$color-background: #bbdec6;
$color-text: grey;
$color-title: black;
$color-button: transparent;
$color-buttontext: green;
$ff-lato: "lato", sans-serif;
$ff-text: "Merriweather", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-secundario;
}

a {
    text-decoration: none;
    color: $color-text;

}

ul,
li {
    list-style: none;
    color: inherit;
}


h1 {
    font-family: $ff-lato;
    color: $color-title;
}

h2 {
    font-family: $ff-lato;
    padding: 5px;
    color: $color-secundario;
}

h3 {
    font-family: $ff-lato;
    color: $color-secundario;
}

p {
    font-family: $ff-text;
    color: $color-text;
}

li {
    font-family: $ff-lato;
}